annotated-types==0.5.0
anyio==3.7.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
exceptiongroup==1.2.2
fastapi==0.103.2
h11==0.14.0
idna==3.10
importlib-metadata==6.7.0
pydantic==2.5.3
pydantic_core==2.14.6
requests==2.31.0
sniffio==1.3.1
starlette==0.27.0
typing_extensions==4.7.1
urllib3==2.0.7ß
uvicorn==0.22.0
zipp==3.15.0
